<div id="OutsideModal" (click)="modalClick($event?.target)" *ngIf="displayModal" class="modal">
  <!-- Modal content -->
  <div id="InsideModal" class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="test"><h3>{{spellCard?.name}}</h3></div>
    {{spellCard?.school?.name}} level {{spellCard?.level}} <br>
    <strong>Casting Time: </strong>{{spellCard?.casting_time}} <br>
    <strong>Range: </strong> {{spellCard?.range}} <br>
    <strong>Components: </strong> {{spellCard?.components}}<br>

   <p>{{spellCard?.desc}}</p>
    <div *ngIf="spellCard?.higher_level?.length">
    <h4>Higher Levels</h4>
    <hr>
    {{spellCard?.higher_level}}
    </div>

</div>

</div>


<div class="card-container">
  <div class="test"><h3>{{spellCard?.name}}</h3> <button (click)="openModal()"class="showMore">Show More</button></div>
  {{spellCard?.school?.name}} level {{spellCard?.level}} <br>
  <strong>Casting Time: </strong>{{spellCard?.casting_time}} <br>
  <strong>Range: </strong> {{spellCard?.range}} <br>
  <strong>Components: </strong> {{spellCard?.components}}<br>
  <div class="description">
 <p>{{spellCard?.desc}}</p>
  <div *ngIf="spellCard?.higher_level?.length">
  <h4>Higher Levels</h4>
  <hr>
  {{spellCard?.higher_level}}
  </div>
</div>
</div>







